@mixin margin-horizontal($left: 0, $right: 0, $important: false) {
  @if $important {
    margin-left: $left !important;
    margin-right: $right !important;
  }
  @else {
    margin-left: $left;
    margin-right: $right;
  }
}

@mixin margin-vertical($top: 0, $bottom: 0, $important: false) {
  @if $important {
    margin-top: $top !important;
    margin-bottom: $bottom !important;
  }
  @else {
    margin-top: $top;
    margin-bottom: $bottom;
  }
}

@mixin padding-horizontal($left: 0, $right: 0, $important: false) {
  @if $important {
    padding-left: $left !important;
    padding-right: $right !important;
  }
  @else {
    padding-left: $left;
    padding-right: $right;
  }
}

@mixin padding-vertical($top: 0, $bottom: 0, $important: false) {
  @if $important {
    padding-top: $top !important;
    padding-bottom: $bottom !important;
  }
  @else {
    padding-top: $top;
    padding-bottom: $bottom;
  }
}