@import "generic";

:root {
  --purple-200: #BB86FCFF;
  --purple-500: #6200EEFF;
  --purple-700: #3700B3FF;
  --teal-200: #03DAC5FF;
  --teal-700: #018786FF;

  --color-primary: var(--purple-500);
  --color-primary-variant: var(--purple-700);
  --color-on-primary: black;
  --color-secondary: var(--teal-200);
  --color-secondary-variant: var(--teal-700);
  --color-on-secondary: black;
  --text-color-on-primary: white;
  --text-color-on-primary-hover: #D0D0D0FF;
  --text-color-on-secondary: black;
  --text-color-on-secondary-hover: #505050FF;
}

html {
  height: 99% !important;
  margin: 0 !important;
}

body {
  position: relative;
  font-family: sans-serif;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--bs-yellow);
  box-shadow: 0 0 10pt 8pt rgb(80, 80, 80) !important;
  border-radius: 20pt !important;
  height: 99% !important;
  padding: 1pt !important;
  @include margin-horizontal(10pt, 10pt, True);
  @include margin-vertical(10pt, 10pt, True);
}

footer {
  text-align: justify;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary-variant);
  color: var(--text-color-on-primary);
  width: 100%;
  min-height: 8%;
  height: fit-content;
  border-radius: 0 0 20pt 20pt;
}

.navbar {
  background-color: var(--color-primary);
  border-radius: 20pt;
  max-width: 100%;
  justify-content: flex-start;
}

.navbar-item a {
  color: var(--text-color-on-primary);
  display: inline-block;
  font-size: medium;
  padding: 10px 20px;
  text-decoration: none;
}

.navbar-item i {
  color: var(--text-color-on-primary);
  font-size: large;
  margin: 0 4pt;
}

.navbar-item {
  border: 1px solid lightcyan;
  border-radius: 10pt;
  box-shadow: 3px 3px darkcyan;
  @include margin-horizontal(8pt, 8pt);
}

.navbar-item:hover {
  box-shadow: 3px 3px rgb(0, 100, 100);
}

.navbar-item:hover a, .navbar-item:hover a > i {
  color: var(--text-color-on-primary-hover);
}

.navbar-item:active{
  box-shadow: 0 0 1px 1px black;
  border-color: gray;
}

.navbar-item-selected a, .navbar-item-selected i {
  color: var(--purple-200) !important;
}

#navbar-repository-item {
  right: 0;
  position: absolute;
}

#logo{
  display: inline-block;
  border-color: var(--color-secondary);
  border-style: solid;
  border-radius: 50%;
  margin-left: 10pt;
  animation-name: logo-floating;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
  aspect-ratio: 1;
  width: 80%;
}

#privacy-container {
  overflow-y: auto !important;
}

.main-content {
  @include padding-horizontal(30pt, 30pt, true);
}

.main-title {
  @include padding-vertical(10pt, 10pt, true);
}

* .twitter-follow-button {
  @include margin-vertical(10pt, 10pt, true);
  @include margin-horizontal(10pt, 10pt, true);
}

#follow-us-on-product-hunt-link img {
  width: 258.39px !important;
  height: 100px !important;
  float: right !important;
  @include padding-horizontal(10pt, 10pt, true);
}

#get-it-on-google-play-link {
  float: right !important;
}

#buy-me-a-coffee-link {
  float: right !important;
  @include padding-vertical(15pt, 15pt, true);
  @include padding-horizontal(20pt, 20pt, true);
}

@keyframes logo-floating {
  0% {
    transform: translate(0,  0);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.6);
    border-style: dashed;
    border-color: var(--purple-200);
  }

  35% {
    transform: translate(5px, 1px);
    box-shadow: 0 25px 15px 0 rgba(0,0,0,0.2);
    border-style: dashed;
    border-color: var(--purple-200);
  }

  65% {
    transform: translate(-5px, -1px);
    box-shadow: 0 25px 15px 0 rgba(0,0,0,0.2);
    border-style: dashed;
    border-color: var(--purple-200);
  }

  100% {
    transform: translate(-0, -0);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.6);
    border-style: dashed;
    border-color: var(--purple-200);
  }
}